[color]
	ui = auto
[user]
	name = John Mason
	email = john@johnmason.io
[core]
	editor = vim
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = current

[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[credential]
	helper = cache
[commit]
	gpgsign = false
[init]
	templatedir = ~/.git_template
[gpg]
	program = /usr/local/bin/gpg
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[github]
	user = binarymason
[ghi]
	token = !security find-internet-password -a binarymason -s github.com -l 'ghi token' -w
