[color]
	ui = auto
[user]
	name = John Mason
	email = john@johnmason.io
	signingkey = 0D3959BB
[core]
	editor = nvim
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/johnmason/.gitignore
[push]
	default = current

[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[credential]
	helper = cache
[commit]
	gpgsign = true
[init]
	templatedir = ~/.git_template
[gpg]
	program = /usr/local/bin/gpg
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[github]
	user = binarymason
[ghi]
	token = !security find-internet-password -a binarymason -s github.com -l 'ghi token' -w
[alias]
	ctags = !.git/hooks/ctags
[merge "railsschema"]
        name = newer Rails schema version
        driver = "ruby -e '\n\
          system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
          b = File.read(%(%A))\n\
          b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
          %(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
          end\n\
          File.open(%(%A), %(w)) {|f| f.write(b)}\n\
          exit 1 if b.include?(%(<)*%L)'"
