[color]
	ui = auto
[user]
	name = John Mason
	email = john@johnmason.io
[core]
	editor = vim
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = current
[alias]
	s = status
	p = push
	l = log --decorate --graph --oneline
	cm = commit -m
	co = checkout
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
	prune = "!f() {\
		    git fetch --prune && git branch -r | awk '{print $1}' | egrep -v -f /dev/fd/0 <(git branch -vv | grep origin) | awk '{print $1}' | xargs git branch -d; \
		}; f"


[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[credential]
	helper = cache
[commit]
	gpgsign = false
[init]
	templatedir = ~/.git_template
[gpg]
	program = /usr/local/bin/gpg
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[github]
	user = binarymason
[ghi]
	token = !security find-internet-password -a binarymason -s github.com -l 'ghi token' -w
