snippet --
require "pp"
puts "-" * 50
pp ${1:<something>}
puts "-" * 50
endsnippet

snippet rspec
require 'spec_helper'

RSpec.describe ${1:'something'} do
  $0
end
endsnippet

snippet "\b(case|sw(itch)?)" "case <variable> when <expression> ... end" r
case ${1:variable}
when ${2:expression}
$0
end
endsnippet
